<h2>
 ngIf Directive
</h2>
<p *ngIf="displayName">Example of ngIf</p>

<div *ngIf="false; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <p>Displaying content in if block</p>
</ng-template>

<ng-template #elseBlock>
  <p>Displaying content in else block</p>
</ng-template>

<hr>
<h2>
 ngSwitch Directive
</h2>
<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'">You picked Red color</div>
  <div *ngSwitchCase="'green'">You picked Green color</div>
  <div *ngSwitchCase="'blue'">You picked Blue color</div>
  <div *ngSwitchDefault>Choose Again</div>
</div>


<hr>
<h2>
 ngFor Directive
</h2>
<div *ngFor="let color of colorList; index as i">
  <li>{{i}}-{{color}}</li>
</div>